body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

#root {
  background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
}

.ui.menu {
  height: 4em;
}

.ui.menu .item {
  position: inherit;
  color: #006992 !important;
}

.ui.segment .image {
  width: 50%;
  height: 50%;
  overflow: hidden;
  display: flex;
  margin: 1.5em auto 1.5em auto;
}

i.icon {
  margin-top: -0.3em !important;
}

.description {
  margin: auto 4em auto 4em;
  text-align: justify;
  word-spacing: 0.5em;
  line-height: 1.5em;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.segment-btn {
  margin-top: 1.5em !important;
}

.favorite-btn {
  margin-top: 2.8em !important;
}

.main-header {
  color: #0a497b !important;
  font-family: 'Courgette', cursive !important;
  font-size: 3em !important;
  margin-top: 0.3em !important;
}

.ui.form .field .ui.input input {
  text-align: center;
}

.error {
  margin-top: 2em;
  font-weight: bold;
}

/* #006992
#0a497b */